.home-container{
    width: 100%;
    height: 350px;
    background-color: cornsilk;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
}
.main{
    width: 49%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right:5px ;
}
.sidebar{
    width: 50%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right:5px ;
    background-color: aliceblue;
}
p{
    padding: 3px;
    margin: 2px;
    justify-content: center;
}
button{
    width: 300px;
    height: 35px;
    background-color: rgb(214, 69, 76);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 70px;
    color: white;
    font-weight: bolder;
}
button:hover{
    background-color: aliceblue;
    color: black;
}