<div class="home-container">
    <div class="main">
        <h1>welcome to Home page to get subscriptions</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, iusto laudantium fuga odit ipsam tempore ipsum doloremque nobis modi aliquam sunt velit nulla rem facilis, consectetur odio, reprehenderit minima corrupti.</p>
        <button class="home-button" (click)="OnSubscribe()">Subscribe for Quarterly</button>
    </div>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div>