<p>footer works!</p>
<div appClass [display]="{'footer-container':true,footerHighlight:true,'footer-font':5>2}">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam quae nemo blanditiis quod laudantium earum praesentium quidem dicta totam recusandae sunt temporibus, sapiente vero saepe repudiandae, voluptatum eligendi adipisci dolor!</p>
</div>

<div [appStyle]="{backgroundColor:active? 'yellow':'pink', color:active?'black':'blue'}">
    <p>all right are reserved. &copy;2024 balu developers.com</p>
</div>