<div class="admin-container">
  <div class="admin-add-user">
    <input type="text" placeholder="Add User">
    <select name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <br>
    <select name="subscriptionType">
      <option value="monthly">Monthly</option>
      <option value="quarterly">Quarterly</option>
      <option value="yearly">Yearly</option>
    </select>
    <select name="active">
      <option value="active">Active</option>
      <option value="inactive">InActive</option>
    </select>
    <br>
    <button class="admin-button">CREATE</button>
  </div>
  <app-user-list></app-user-list>

    <!-- <h1>welcome to admin page to get subscriptions</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, iusto laudantium fuga odit ipsam tempore ipsum doloremque nobis modi aliquam sunt velit nulla rem facilis, consectetur odio, reprehenderit minima corrupti.</p>
    <button class="admin-button" (click)="OnSubscribe('Monthly')">Subscribe for Monthly</button>
    <button class="sidebar-button" (click)="OnSubscribe('Quarterly')">subscribe for Quarterly</button>
    <button class="sidebar-button" (click)="OnSubscribe('Yearly')">subscribe for Yearly</button> -->
</div>
